/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.button {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-padding: 25px;
	-fx-border-insets: 12px;
    -fx-background-insets: 12px;
}
